.nav {
  width: 100%;
  /* background: #fff; */
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
.dark {
  background-color: #0099;
  color: black;
}
ul {
  display: flex;
  gap: 15px;
  align-items: center;
  list-style: none;
  margin-right: 20px;
}
img {
  border: none;
  outline: none;
}
.contact_btn {
  padding: 15px;
  border-radius: 20px;
  background-color: #fff;
}
.contact_btn:hover {
  background-color: rgb(233, 160, 66);
}

/* MEDIA QUERRY */
@media (max-width: 1250px) {
  .nav {
    width: 100vw;
  }
  ul {
    /* margin-right: 300px; */

    font-size: 15px;

    gap: 15px;
    height: 700px;
    position: fixed;
  }
  img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 850px) {
  nav {
    padding: 15px 0;
  }
  ul {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #212ead;
    width: 150px;
    padding-top: 70px;
    transition: 0.5s;
    z-index: -1;
    display: block;
    display: flex;
    flex-direction: column;
  }
}
